.myHabits .habit {
	padding: 25px;
	margin: 15px 0;
	background: #FFF;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.myHabits button {
	margin-left: 15px;
}

.myHabits .noHabits {
	text-align: center;
}

.myHabits .noHabits p {
	margin: 10px 0;
	font-size: 1.2em;
}

.myHabits .editButtons {
	text-align: right;
}

.DayPicker {
	width: 266px;
}

.DayPicker:focus, .DayPicker .DayPicker-Day:focus {
	outline: none;
}