.myHabits .habit {
	padding: 25px;
	margin: 15px 0;
	background: #FFF;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.myHabits button {
	margin-left: 15px;
}

.myHabits .noHabits {
	text-align: center;
}

.myHabits .noHabits p {
	margin: 10px 0;
	font-size: 1.2em;
}

.myHabits .editButtons {
	text-align: right;
	clear: both;
}

.habit h2 {
	margin-bottom: 10px;
	font-size: 45px;
	line-height: 100%;
}

.habit .info {
	margin-bottom: 5px;
	font-size: 17px;
}

.habit .dropdown {
	display: none;
}

.dashCal {
	padding: 10px 0;
	display: flex;
}

.DayPicker {
	width: 266px;
	height: 304px;
	margin: auto;
	padding: 0;
}

.calendar .overlay {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 266px;
	align-items: center;
	height: 304px;
	background: rgba(255,255,255,0.75);
	z-index: 10;
	transition: opacity .1s;
	transition-delay: .3s;
}

.DayPicker:focus, .DayPicker .DayPicker-Day:focus {
	outline: none;
}

.DayPicker-Day--success {
	background: #5fb962;
}

.calendar {
	margin-top: 15px;
	width: 50%;
	position: relative;
}

.leaderBoard {
	margin-top: 25px;
	width: 50%;
}

.leaderBoard h3 {
	text-align: center;
	margin: 5px 0;
}

.leaderBoard ul {
	width: 80%;
	height: 245px;
	overflow-y: auto;
	margin: auto;
	list-style: none;
	border: 1px solid #F2F2F2;
	background: #F2F2F2;
}

.leaderBoard li {
	padding: 7px;
}

.leaderBoard li .percent {
	float: right;
}

.leaderBoard li:nth-child(odd) {
	background: #FFF;
}
