html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
	background: #f2f2f2;
}

.spacer {
	height: 75px;
}

h1, h2, h3, p {
	margin: 0;
	line-height: 140%;
}

.container {
	width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #999;
}