* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
}

html, body {
	font-family: 'Raleway', sans-serif;
	background: #f2f2f2;
	color: #333;
}

.spacer {
	height: 75px;
}

h1, h2, h3, p {
	margin: 0;
	font-weight: normal;
	line-height: 140%;
}

.container {
	width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #2580c1;
}

input:focus, textarea:focus, button:focus {
	outline: none;
}

button {
	background: #2580c1;
	padding: 10px 25px;
	font-weight: bold;
	border: none;
	color: #FFF;
	cursor: pointer;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

button.red {
	background: #df2020;
}

button.green {
	background: #4CAF50;
}

button:hover {
	background: #298ed6;
}

button.red:hover {
	background: #e23636;
}

button.green:hover {
	background: #5fb962;
}

input, textarea {
	font-family: 'Raleway', sans-serif;
	border: none;
	padding: 5px;
	line-height: 100%;
	border-bottom: solid 1px #bfbfbf;
	font-size: 16px;
}

.flashMessage {
	border: solid 1px #4CAF50;
	color: #408c40;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	background: #dcefdc;
	text-align: center;
}

.alignRight {
	text-align: right;
}

