html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
	background: #303850;
}

.spacer {
	height: 75px;
}

h1, h2, h3, p {
	margin: 0;
	line-height: 140%;
}

.container {
	width: 1000px;
	margin: auto;
}