.menu-container {
	z-index: 99;
	margin: 0;
	width: 100%;
	background: #FFF;
	position: fixed;
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.65);
}

.menu {
	list-style: none;
	padding: 0;
	display: flex;
	position: relative;
}

.menu li {
	padding: 7px;
	margin: 15px;
	border: 3px solid transparent;
}

.menu a {
	letter-spacing: 1.5px;
	font-size: 24px;
}

.menu .logo li {
	border: 3px solid #333;
	color: #2072ac;
	/*font-weight: bold;*/
}

.menu .logo:hover li {
	/*border-color: #2580c1;*/
}

.menu .login-logout {
	position: absolute;
	right: 0;
}