@media screen and (max-width: 1000px){
	
	.container {
		width: 90%;
	}

	.modal-wrap .modal {
		width: 90%;
	}

	.coverText {
		padding: 10px;
		top: auto;
	}

	.cover {
		background-size: auto;
	}

	ul.menu {
		height: 75px;
		display: flex;
		align-items: center;
		margin: 0;
		width: 100%;
		padding: 10px;
	}

	.menu a {
		font-size: 20px;
	}

	.menu a:not(.logo) {
		position: absolute;
		right: 10px;
		float: right;
	}

	.menu li {
		margin: 0;
	}

	.menu .login-logout {
		display: none;
	}

	.quote {
		padding: 10px;
	}

	.quote .quoteText {
		font-size: 16px;
	}

	.quote .author {
		font-size: 14px;
		padding-top: 5px;
	}

	.dashboard .flex {
		display: block;
		text-align: center;
	}

	.dashboard .flex .topButtons button {
		margin: 8px 0 0 0;
		width: 100%;
	}

	.modal-wrap .modal {
		padding: 15px;
	}

	.habit .dropit {
		display: none;
	}

	.leaderBoard, .calendar {
		width: 100%;
	}

	.leaderBoard {
		margin: 0;
	}

	.leaderBoard ul {
		width: 90%;
	}

	.dashCal {
		flex-wrap: wrap;
	}

	.habitForm .react-datepicker__input-container {
		width: 100%;
		margin: 0;
	}

}